body {
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.container {
    margin-left: auto;
    margin-top: 50;
}

#displayText {
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}
